body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;    
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type:none ;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.header-page {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items:center ;
    gap: 40px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color:#4d5ae5 ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0px;
    margin-right: 76px ;
}

.logo-part{
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0px;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link .contacts-link {
    font-style: normal;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.contacts-link :hover,
.contacts-link:focus {
    font-weight: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color:#404bbf;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1,07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px ;
    color: #fff;
    padding: 188px 0px;
}

.hero-button {
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    min-width: 169px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.features {
    padding: 120px 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-list {
    display: flex;
    gap: 24px;
    padding: 0 15px;
    margin: 0;
}

.features-item {
    width: calc((100% - 72px) / 4);
    margin: 0;
}

.team {
    background-color: #f4f4fd;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}



.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    text-align: center;
}

.container-team {
    padding: 32px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list{
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
}

.footer-page{
    background-color: #2E2F42;
    padding: 100px 0px;

}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-part {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}